h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 2rem;
    text-align: center;
}

body{
    background-color: #2d2d2d;
}

#my_canvas{
    border-radius: 5px;
    display: flex;
    position: relative;

    margin: 0 auto;

    width: 850px;
    height: 850px;

    background-color: #2d2d2d;
}

#timer {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
}